* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //font-family: "Helvetica", "Arial", sans-serif;
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: #f7ffff;
}

#main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
#title1 {
  margin-bottom: 30px;
  font-size: 3rem;
  font-weight: normal;
}
#title2 {
  margin-bottom: 10px;
  font-weight: normal;
}
#selector {
  border-radius: 3px;
  border: 2px solid #418e9c;
  font-size: 1.3rem;
  outline:none;
  overflow: hidden;
  margin: 10px;
}

#input {
  display:flex;
}
#nameInput {
  text-align: center;
  border-radius: 6px;
  border: 2px solid #418e9c;
  font-size: 1.5rem;
  outline:none;
  overflow: hidden;
  margin-bottom: 10px;
  height: 40px;
  z-index: 1;
}
#nameInput:focus::placeholder {
  color: transparent;
}
#go {
  text-align: center;
  border-radius: 3px;
  border: 0px;
  background-color: #61aab8;
  color: white;
  font-size: 1.5rem;
  outline:none;
  margin-bottom: 30px;
  width: 100px;
  height:40px;
  transform: translateX(-6px);
  z-index: 0;
}
#go:hover {
  background-color: #418e9c;
}

#output {
  display: flex;
  margin: 40px;
  padding: 20px;
  width: 790px;
  height: 300px;
  border: 2px solid lightgray;
  border-radius: 6px;
  flex-direction:  column;
  align-items: center;
}
#age {
	text-shadow: 0px 2px 4px black;
  margin: 40px;
  font-size: 5rem;
}

.footer {
  display: flex;
  align-self:  flex-end;
  align-items: center;
  flex-direction: column;
  font-weight: normal;
  margin-bottom: 100px;
}
#footer-link {
  display: flex;
  color: #418e9c;
  text-decoration: none;
  margin-top: 10px;
}
#footer-link:hover {
  color: #42b5c9;
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  #output {
    width: 80%;
  }
}
@media only screen and (max-width: 767px) and (min-width: 540px) {
  #title1 {
    font-size: 2.5rem;
  }
  #title2 {
    font-size: 1.2rem;
  }
  #output {
    width: 90%;
    height: 250px;
  }
  #age {
    font-size: 4rem;
  }
  #nameInput {
    font-size: 1rem;
    margin-bottom: 20px;
    height: 30px;

  }
  #go {
    font-size: 1rem;
    margin-bottom: 20px;
    width: 80px;
    height:30px;
  }
  p {
    font-size: .8rem;
  }
  #footer-link {
    font-size: .8rem;
  }
}
@media only screen and (max-width: 539px) {
  #title1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  #title2 {
    font-size: 1rem;
  }
  #output {
    width: 100%;
    height: 200px;
    font-size: .8rem;
  }
  p {
    font-size: .7rem;
  }
  #selector {
    font-size: 1rem;
  }
  #age {
    font-size: 4rem;
  }
  #nameInput {
    font-size: 1rem;
    margin-bottom: 10px;
    height: 30px;

  }
  #go {
    font-size: .8rem;
    margin-bottom: 10px;
    width: 80px;
    height:30px;
  }
  #footer-link {
    font-size: .7rem;
    margin: 10px;
  }
}
